@model ComputerStoreClassLib.Model.Product

@{
    ViewBag.Title = "Details";
}

    <div class="jumbotron">
        <h2>Details</h2>

        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Cipher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cipher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Suppler company
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplerCompany.Name)
                </dd>

                <dt>
                    Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>

                <dt>
                    Operation system
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OperationSystem.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountAll)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountAll)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AmmountProducts)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AmmountProducts)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
