@model IEnumerable<ComputerStoreClassLib.Model.Product>

@{
   
    ViewBag.Title = "Index";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "ProductsList",
        Url = Url.Action("ProductSearch")
    };
}

    <div class="jumbootron">
        <h2>Index</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <div>
            @using (Ajax.BeginForm(ajax))
            {
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="@ViewBag.Filter" name="name" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="send" />
                </div>

                <div class="form-group">
                    <input type="reset" value="reset">
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cipher)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Фирма поставщик
                        </th>
                        <th>
                            Категория товара
                        </th>
                        <th>
                            Операционная система
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CountAll)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmmountProducts)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th></th>
                    </tr>
                    <tbody id="ProductsList">
                        @Html.Action("ProductSearch")
                    </tbody>
                </table>

            }
        </div>
      
        
    </div>   
